<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 
    <div class="About-us-contents">
        <h2>About us</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit accusantium tenetur corporis reprehenderit eligendi sunt molestias a doloribus commodi assumenda nam illo odio incidunt quam quaerat, recusandae aliquam non ex!</p>
    </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>
